* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5f7a61;
}

.music-player {

    width: 350px;
    height: 550px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 40px 100px rgba(255, 255, 255, 0.1);
    padding: 30px;
    overflow: hidden;
    color: #d5eebb;
}

.music-name,
.artist-name {
    text-align: center;
    text-transform: capitalize;
}

.music-name {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 10px;
}

.artist-name {
    font-size: 20px;
}

.disk {
    position: relative;
    display: block;
    margin: 40px auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url("../media/dd.png");
    background-position: 47% 5%;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.08);
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.disk.play {
    animation-play-state: running;
}

.song-slider {
    width: 100%;
    position: relative;
}

.seek-bar {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 10px;
    background-color: #7fc8a9;
    cursor: pointer;
    overflow: hidden;
}

.seek-bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 20px;
    background-color: black;
    box-shadow: -400px 0 0 400px #d5eebb;
}

.current-time,
.song-duration-time {
    font-size: 14px;
}

.song-duration-time {
    position: absolute;
    right: 0;
}

.controls {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 20px;
}

.play-btn {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #d5eebb;
    cursor: pointer;
    border: 0;
}

.play-btn span {
    font-size: 30px;
    color: #5f7a61;
}


.play-btn i {
    display: none !important;
}

.play-btn .show {
    display: block !important;
    color: #5f7a61 !important;
}

.play-btn.pause {
    animation: pules 2s linear infinite;
}

@keyframes pules {
    0% {
        box-shadow: 0;
    }

    25% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.1);
    }

    75% {
        box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    }

    100% {
        box-shadow: 0;
    }
}

.btn {
    width: 40px;
    height: 40px;
    background: #d5eebb;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
}

.btn i {
    color: #5f7a61;
    font-size: 20px;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}